*
{
    font-family: 'Ubuntu Mono', Courier;
	color: #efefef;
}

body
{
	background-color:#222222;
}

tr
{
	border-top:1px solid #050505;
}

td
{
    padding:5px 20px;
}

.white
{
    background-color:#333333;
    border-top:1px solid #000000;
}

a
{
    color: #AA5A43; 
    font-weight: 700;
    text-decoration: none;
}

a:hover
{
    color:#CA8B78;
}

input
{
        width:500px;
        text-align: left;
	color: #222222;
	background-color: #efefef;
}

.checkbox
{
	width: auto;
}

textarea
{
        width:500px;
	text-align: left;
        color: #222222;
        background-color: #efefef;
	height: 400px;
}

