* {
    margin: 0px;
    padding: 0px;
}

html {
  overflow-y: scroll;
    min-width:300px;
}

body {
    background-color:#ffffff;
}

#header {
    margin:0px auto;
    width:100%;
    background-color:#101010;
}

#title {
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    text-transform:uppercase;
    text-align:center;
    color:#f6f6f6;
    display:block;
    margin:0px auto;
    width:100%;
    font-size:128px;
}

#menuIcon {
    float:right;
    display:none;
}

#nav {
    width:100%;
    margin:0px auto;
    text-align:center;
    font-size: 0px;
    max-height:45px;
    overflow:hidden;
}

.navLink {
    font-family: 'Roboto', sans-serif;
    text-transform:uppercase;
    text-decoration:none;
    background-color:#101010;
    display:inline-block;
    font-size:16px;
    padding:10px 40px;
    color:#f6f6f6; 
}

.navLink:hover {
    background-color:#606060;
}

.navLink.selected {
    color:#101010; 
    background-color:#f6f6f6;
}

.navLink.selected:hover {
    color:#101010; 
    background-color:#f6f6f6;
}

.page {
    margin:0px auto;
    width:80%;
    max-width:1100px;
    display:block;
    padding:15px 0px;
    border-left:1px solid #a0a0a0;
    border-right:1px solid #a0a0a0;
    overflow-x:hidden;
    background-color:#f6f6f6;
}

.page.hidden {
    display: none;
}

.contentBlock {
}

p, h1, h2, h3 {
    color:#101010;
    margin:10px 30px;
    display:block;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    font-size: 56px;
}

h1 {
    margin:0px 30px;
}

h1.headerLink {
    cursor:pointer;
    -webkit-transition: color 0.35s ease;
       -moz-transition: color 0.35s ease;
        -ms-transition: color 0.35s ease;
         -o-transition: color 0.35s ease;
            transition: color 0.35s ease;
}

h1.headerLink:hover {
    color:#005FE3;
}

h2 {
    font-size: 32px;
    font-weight:300;
}

h3 {
    font-size: 20px;
    font-weight:400;
    text-transform:uppercase;
}

.page a {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    line-height:24px;
    font-weight: 700;
    color:#005FE3;
    text-decoration:underlined;
    -webkit-transition: color 0.35s ease, background 0.35s ease;
       -moz-transition: color 0.35s ease, background 0.35s ease;
        -ms-transition: color 0.35s ease, background 0.35s ease;
         -o-transition: color 0.35s ease, background 0.35s ease;
            transition: color 0.35s ease, background 0.35s ease;
}

.page a.tagLink {
    color:#909090;
    text-decoration:none;
    font-weight: 400;
}

.page a.tagLink.current {
    font-weight: 700;
}

.page a:hover {
    color:#303030;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    line-height:28px;
    font-weight: 400;
    text-indent: 40px;
}

p.blogPostTagline {
    font-weight: 400;
    font-style:italic;
    margin:0px;
    text-indent: 0px;
    color:#909090;
}

p.blogPostTagline.time {
    float:left;
    padding-left:30px;
}

p.blogPostTagline.tags {
    float:right;
    text-align:right;
    padding-right:30px;
}

p.blogPostOpeneing {
    padding-top:20px;
}

p.quote {
    text-indent: 0px;
    text-align:center;
    padding:10px 80px;
    font-size:20px;
    line-height:32px;
    color:#909090;
    font-style:italic;
}

p.subtitle {
    text-indent: 0px;
    text-align:center;
    padding:0px 80px;
    font-size:14px;
    line-height:20px;
    color:#787878;
}

p.subtitle a {
    font-size:14px;
    text-decoration:none;
}

p.readMore {
    text-indent: 0px;
}

p.topNotification {
    padding-top:0px;
    margin-top:-4px;
    font-style:italic;
    text-indent: 0px;
    text-align:center;
    color:#909090;
    margin-bottom:0px;
}

.break {
    width:60%;
    margin:20px 20%;
    border-bottom:1px dotted #909090;
}

.pageLinks {
    color:#909090;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    line-height:24px;
    width:100%;
    text-align:center;
}

.pageLinks a {
    text-decoration: none;
    color:#606060;
}

.pageLinks a:hover {
    color:#005FE3;
}

.page img.banner {
    width:96%;
    display:block;
    padding:20px 2%;
}

.page img.portrait {
    width:66%;
    max-width:600px;
    display:block;
    margin:20px auto;
    border:3px double #909090;
}

div.spacer {
    display:block;
    height:3px;
}

.youtubeVideo {
    display:block;
    width:750px;
    height:500px;
    margin:0px auto;
    padding:15px 0px;
}

#footer {
    margin: 0px auto;
    margin-bottom:30px;
    padding:15px 0px;
    background-color:#101010;
    border:1px solid #101010;
}

#footer p {
    text-indent: 0px;
    padding:15px;
    color:#909090;
    text-align:center;
}

.fadeColor {
    -webkit-transition: color 0.35s ease, background 0.35s ease;
       -moz-transition: color 0.35s ease, background 0.35s ease;
        -ms-transition: color 0.35s ease, background 0.35s ease;
         -o-transition: color 0.35s ease, background 0.35s ease;
            transition: color 0.35s ease, background 0.35s ease;
}

.fadeFont {
    -webkit-transition: font 0.35s ease;
       -moz-transition: font 0.35s ease;
        -ms-transition: font 0.35s ease;
         -o-transition: font 0.35s ease;
            transition: font 0.35s ease;
}

.fadeMaxHeight {
    -webkit-transition: max-height 0.35s ease;
       -moz-transition: max-height 0.35s ease;
        -ms-transition: max-height 0.35s ease;
         -o-transition: max-height 0.35s ease;
            transition: max-height 0.35s ease;
}