[submodule "sites/metamorph"]
	path = submodules/metamorph
	url = git@github.com:fisherevans/metamorph.git
[submodule "submodules/resume"]
	path = submodules/resume
	url = git@github.com:fisherevans/Resume.git
[submodule "submodules/stealing-from-santa"]
	path = submodules/stealing-from-santa
	url = git@github.com:fisherevans/stealing-from-santa.git
[submodule "sites/home/themes/hugo-theme-stack"]
	path = sites/home/themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
