#title {
    font-size: 64px;
}

.navLink {
    font-size: 14px;
    font-weight:400;
    padding:7px 17px;
}

.page a {
    font-size: 14px;
    line-height:22px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
    line-height:26px;
    text-indent: 30px;
}

p.blogPostOpeneing {
    font-size: 16px;
}

p.quote {
    padding:7px 50px;
    font-size:18px;
    line-height:28px;
}

.youtubeVideo {
    width:90%;
    height:300px;
}

.contentBlock.project {
    text-align:center;
}

.projectSummary2 {
    width:99%;
    display:inline-block;
    text-align:left;
    vertical-align: middle;
}

.page img.projectSummaryLogo2 {
    width:40%;
    display:inline-block;
    vertical-align: middle;
}
span.bullet {
    padding-left:50px;
}