/** NAVIGATION ############################################### **/

.navPane {
  right: 0;
  bottom: calc(100% - 50px);
  border-bottom: 5px solid #005092;
}

.logo {
  width: 36px;
  padding: 7px 14px;
}

.menuBox {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  height: 46px;
  width: 64px;
  cursor: pointer;
  background-color: transparent;
}

.menuBox:hover {
  background-color: #005092;
}

.menuIcon, .closeMenuIcon {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  height: 24px;
  width: 28px;
  padding: 11px 18px;
  pointer-events:none;
}

.navPane.expanded .menuIcon, .navPane .closeMenuIcon {
  opacity: 0;
  transform: scale(0, 0);
}

.navPane .menuIcon, .navPane.expanded .closeMenuIcon {
  opacity: 1;
  transform: scale(1, 1);
}

.nav {
  position: absolute;
  width: 100%;
  top: 50px;
  max-height: 0;
  border-bottom: 0px solid #005092;
  overflow: hidden;
}

.navPane.expanded .nav {
  max-height: 300px;
  border-bottom: 5px solid #005092;
}

.connect, .contact {
  display: none;
}

.navElement.mobileOnly {
  display: block;
}

/** CONTENT ############################################### **/

.contentPane {
  padding-top: 50px;
  margin-left: 0px;
}

.contentBlock {
  margin: 2% 2%;
  padding: 3% 4%;
}

.cookieCrumbs .cookieCrumb {
  font-size: 0.7em;
  margin-right: 2pt;
  line-height: 0.7em;
}

.cookieCrumbs .cookieCrumb.separator {
  font-size: 0.5em;
}

.contentBlock h1 {
  font-size: 2em;
}

.contentBlock h2 {
  font-size: 1.66em;
}

.contentBlock h3 {
  font-size: 1.33em;
}

.contentBlock h4 {
  font-size: 1em;
}

.blogPost .postContent img {
  max-height: 80vw;
}

.contentBlock p, .contentBlock li, .contentBlock td, .contentBlock strong {
  font-size: 0.85em;
}

.contentBlock blockquote  p {
  font-size: 1em;
}

.contentBlock pre code {
  font-size: 1em;
  line-height: 1.25em;
}

footer {
  font-size: 0.8em;
  margin: 1% 2%;
  padding: 1% 4%;
}

/** BLOG ############################################### **/

.postPhoto {
  width: 95%;
}

.indexTag .indexTagTriangle, .indexTag .indexTagName, .indexTag .indexTagCount {
  font-size: 0.8em;
  line-height: 20pt;
  height: 20pt;
}

.paginationLabel {
  font-size: 0.8em;
  margin-bottom: 8pt;
}

.pagination {
  font-size: 0.9em;
}

.pagination .pageNumber {
  padding: 2pt 5pt;
  margin: 1pt;
}

/** SIDE PANE ############################################### **/

.sidePane {
  display: none;
}