* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-image: url('../img/right_bg.png');
}

.fadeOpacityRotation {
    -webkit-transition: opacity 0.35s ease, transform 0.35s ease;
       -moz-transition: opacity 0.35s ease, transform 0.35s ease;
        -ms-transition: opacity 0.35s ease, transform 0.35s ease;
         -o-transition: opacity 0.35s ease, transform 0.35s ease;
            transition: opacity 0.35s ease, transform 0.35s ease;
}

.fadeMaxHeightBorder {
    -webkit-transition: max-height 0.35s ease, border 0.35s ease;
       -moz-transition: max-height 0.35s ease, border 0.35s ease;
        -ms-transition: max-height 0.35s ease, border 0.35s ease;
         -o-transition: max-height 0.35s ease, border 0.35s ease;
            transition: max-height 0.35s ease, border 0.35s ease;
}

.fadeColors {
    -webkit-transition: color 0.35s ease, background 0.35s ease, opacity 0.35s ease;
       -moz-transition: color 0.35s ease, background 0.35s ease, opacity 0.35s ease;
        -ms-transition: color 0.35s ease, background 0.35s ease, opacity 0.35s ease;
         -o-transition: color 0.35s ease, background 0.35s ease, opacity 0.35s ease;
            transition: color 0.35s ease, background 0.35s ease, opacity 0.35s ease;
}

.fadeContentBox {
    -webkit-transition: padding 0.35s ease, margin 0.35s ease, height 0.35s ease, width 0.35s ease, bottom 0.35s ease, top 0.35s ease, right 0.35s ease, left 0.35s ease;
       -moz-transition: padding 0.35s ease, margin 0.35s ease, height 0.35s ease, width 0.35s ease, bottom 0.35s ease, top 0.35s ease, right 0.35s ease, left 0.35s ease;
        -ms-transition: padding 0.35s ease, margin 0.35s ease, height 0.35s ease, width 0.35s ease, bottom 0.35s ease, top 0.35s ease, right 0.35s ease, left 0.35s ease;
         -o-transition: padding 0.35s ease, margin 0.35s ease, height 0.35s ease, width 0.35s ease, bottom 0.35s ease, top 0.35s ease, right 0.35s ease, left 0.35s ease;
            transition: padding 0.35s ease, margin 0.35s ease, height 0.35s ease, width 0.35s ease, bottom 0.35s ease, top 0.35s ease, right 0.35s ease, left 0.35s ease;
}

.noTextSelect {
 -moz-user-select: none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

@media (min-width: 0px) {
  .leftPane {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: calc(100% - 50px);
    background-image: url('../img/left_bg.png');
    box-shadow: 0px 0px 15px #000;
    border-bottom: 5px solid #005092;
    border-right: 0px solid #005092;
    z-index: 100;
  }

  .logo {
    display: block;
    position: relative;
    width: 36px;
    padding: 7px 14px;
    cursor: pointer;
  }

  .menu {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    height: 46px;
    width: 64px;
    cursor: pointer;
    background-color: transparent;
  }

  .menu:hover {
    background-color: #005092;
  }

  .menuIcon, .closeMenuIcon {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    height: 24px;
    width: 28px;
    padding: 11px 18px;
    pointer-events:none;
  }

  .leftPane.expanded .menuIcon, .leftPane .closeMenuIcon {
    opacity: 0;
    transform: scale(0, 0);
  }

  .leftPane .menuIcon, .leftPane.expanded .closeMenuIcon {
    opacity: 1;
    transform: scale(1, 1);
  }

  .centerPane {
    padding-top: 55px;
    margin-left: 0px;
    padding-bottom: 10px;
  }

  .connect, .contact {
    display: none;
  }

  .rightPane {
    display: none;
  }

  .nav {
    position: absolute;
    display: block;
    width: 100%;
    top: 50px;
    max-height: 0;
    border-bottom: 0px solid #005092;
    overflow: hidden;
    background-image: url('../img/left_bg.png');
  }

  .navElement {
    text-transform: uppercase;
    position: relative;
    display: block;
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 12pt;
    text-align: center;
    padding: 10pt;
    color: #CEE2F2;
    text-decoration: none;
    font-weight: 100;
    text-shadow: 1px 1px #003C6D;
    width: 100%;
    background-color: transparent;
  }

  .navElement:hover {
    background-color: #005092;
    color: #fff;
  }

  .leftPane.expanded .nav {
    max-height: 250px;
    border-bottom: 5px solid #005092;
  }
}

@media (min-width: 800px) and (min-height: 425px) {
  .leftPane {
    left: 0;
    top: 0;
    right: calc(95% - 200px);
    bottom: 0;
    border-bottom: 0px solid #005092;
    border-right: 5px solid #005092;
  }

  .logo {
    width: 50%;
    margin: 15% auto;
    margin-bottom: 10%;
  }

  .menu {
    display: none;
  }

  .name {
    display: block;
    font-family: 'Ubuntu', 'sans-serif';
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    color: #CEE2F2;
  }

  .nav {
    position: relative;
    display: block;
    overflow: visible;
    top: auto;
    height: auto;
    max-height: auto;
  }

  .navElement {
    text-transform: uppercase;
    position: relative;
    display: block;
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 12pt;
    text-align: center;
    padding: 10pt;
    color: #CEE2F2;
    text-decoration: none;
    font-weight: 100;
    text-shadow: 1px 1px #003C6D;
    width: auto;
  }

  .connect {
    position: absolute;
    display: block;
    bottom: 30px;
    left: 0;
    right: 0;
    height: 40px;
    text-align: center;
    font-size: 0;
    opacity: 1;
  }

  .connect .icon {
    position: relative;
    display: inline-block;
    width: calc(100% / 7);
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    color: #669ECC;
    cursor: pointer;
    text-decoration: none;
    line-height: 40px;
    background-color: #005092;
  }

  .connect .icon:hover {
    color: #fff;
    background-color: transparent;
  }

  .contact {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #005092;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #669ECC;
    text-decoration: none;
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 10pt;
    opacity: 1;
  }

  .contact:hover {
    color: #fff;
    background-color: transparent;
  }

  .centerPane {
    padding-top: 0px;
    margin-left: calc(205px + 5%);
    max-width: 1100px;
  }

  @media screen and ( max-height: 510px ) {
    .logo {
      width: 40%;
      margin: 10% auto;
      margin-bottom: 7%;
    }

    .navElement {
      font-size: 11pt;
      padding: 8pt;
    }
  }
}

@media screen and ( min-width: 1600px ) {
  .rightPane {
    display: block;
    position: absolute;
    top: 33px;
    height: auto;
    left: calc(1100px + 205px + 5%);
    right: 43px;
    background-color: #555;
  }
}

.contentBlock {
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 0px 15px #000;
  border-radius: 2px;
}

.contentBlock h1, .contentBlock h2, .contentBlock h3 {
  text-transform: uppercase;
  font-family: 'Ubuntu', 'sans-serif';
}

@media (min-width: 0px) {
  .contentBlock {
    margin: 1% 2%;
    padding: 3% 4%;
    border: 1pt solid #ccc;
  }

  .contentBlock h1 {
    font-weight: 400;
    font-size: 24pt;
    line-height: 24pt;
    margin-top: 0px;
    margin-bottom: 3%;
    color: #222;
  }

  .contentBlock .postInfo {
    display: block;
    position: relative;
    margin: 3% 0;
    font-size: 0;
  }

  .contentBlock .postInfo * {
    font-family: 'Ubuntu', 'sans-serif';
    color: #666;
    font-size: 10pt;
    line-height: 12pt;
    vertical-align: middle;
  }

  .contentBlock .postDate {
    display: inline-block;
    position: relative;
    width: 130pt;
  }

  .contentBlock .postTags {
    display: inline-block;
    position: relative;
    width: calc(100% - 130pt);
    text-align: right;
  }

  .contentBlock .postInfo .dateIcon {
    padding-right: 10pt;
    font-size: 12pt;
    width: 16pt;
  }

  .contentBlock .postInfo .tagIcon {
    padding-left: 10pt;
    font-size: 12pt;
    width: 16pt;
  }

  .contentBlock .postInfo .postInfoData {
    display: inline-block;
    width: calc(99% - 30pt);
  }

  .contentBlock h2 {
    font-weight: 400;
    font-size: 18pt;
    line-height: 18pt;
    margin-top: 4%  ;
    color: #222;
  }

  .contentBlock h3 {
    font-weight: 400;
    font-size: 14pt;
    line-height: 14pt;
    margin-top: 3%;
    color: #333;
  }

  .contentBlock p {
    font-family: 'Roboto Slab', 'serif';
    font-size: 11pt;
    line-height: 18pt;
    font-weight: 400;
    margin-top: 3%;
    color: #111;
  }

  .contentBlock p.quote {
    color: #888;
    text-align: center;
    font-size: 12pt;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
  }

  .contentBlock a {
    text-decoration: none;
    color: #0062b3;
    font-weight: 700;
    background-color: transparent;
    -webkit-transition: color 0.35s ease, background 0.35s ease;
       -moz-transition: color 0.35s ease, background 0.35s ease;
        -ms-transition: color 0.35s ease, background 0.35s ease;
         -o-transition: color 0.35s ease, background 0.35s ease;
            transition: color 0.35s ease, background 0.35s ease;
  }

  .contentBlock a.tag {
    font-weight: 400;
  }

  .contentBlock a:hover {
    color: #0257a0;
    background-color: #f0f0f0;
  }

  .contentBlock pre {
    margin-top: 3%;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fcfcfc;
    font-size: 10pt;
  }

  .contentBlock pre code {
    padding: 12pt;
    background-color: transparent;
  }

  .contentBlock img.portrait {
    display: block;
    position: relative;
    max-width: 95%;
    margin: 4% auto;
    box-shadow: 0px 0px 3px #000;
    border: 1px solid #000;
  }

  .centerPane footer {
    display: block;
    position: relative;
    margin: 1% 2%;
    padding: 3% 4%;
    border: 1pt solid #ccc;
  }
}

@media (min-width: 800px) {
  .contentBlock {
    margin: 3% 4%;
    padding: 3% 4%;
  }

  .contentBlock h1 {
    font-size: 23pt;
    line-height: 23pt;
  }

  .contentBlock h2 {
    font-size: 18pt;
    line-height: 18pt;
  }

  .contentBlock h3 {
    font-size: 16pt;
    line-height: 16pt;
  }

  .contentBlock p {
    font-size: 11.5pt;
    line-height: 18pt;
  }

  .contentBlock p.quote {
    width: 90%;
    font-size: 13pt;
  }

  .contentBlock pre {
    font-size: 10.5pt;
  }
}

@media (min-width: 1100px) {
  .contentBlock {
  }

  .contentBlock h1 {
    font-size: 30pt;
    line-height: 30pt;
  }

  .contentBlock h2 {
    font-size: 24pt;
    line-height: 24pt;
  }

  .contentBlock h3 {
    font-size: 18pt;
    line-height: 18pt;
  }

  .contentBlock p {
    font-size: 12pt;
    line-height: 24pt;
  }

  .contentBlock p.quote {
    width: 80%;
    font-size: 14pt;
  }

  .contentBlock pre {
    font-size: 11pt;
  }

  .contentBlock img.portrait {
    max-width: 80%;
  }
}



[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  margin-left: 0px;
}